<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>
<%= javascript_include_tag "jquery.dd.min.js" %>
<% if @input_error %><div class="error"><%= @input_error %></div><% end %>

<%= form_tag :action => "create" do |f| %>
<%= render "detail" %>
<%= submit_tag "送信", :class => "i_submit button"%>
<%= link_to "戻る", {:action => "index"} , :class => "i_submit button" %>
<% end %>

<div class="i_notice">
  ※注意事項<br />
  <ul>
    <li>順位点（ウマ）を支払う前の点数を入力してください（保存時に自動的に計算されます）。</li>
    <li>得点は100点単位で入力してください。（保存時に100倍されます）</li>
    <li>席順は同点だった場合の順位計算に影響します。正確に入力してください。</li>
  </ul>
</div>

 <script language="javascript">
$(document).ready(function(e) {
try {
$("#user_round_results_0_user_id").msDropDown();
$("#user_round_results_1_user_id").msDropDown();
$("#user_round_results_2_user_id").msDropDown();
$("#user_round_results_3_user_id").msDropDown();
} catch(e) {
//alert(e.message);
window.location.reload();
}
});
</script>